<div>
  <% if question.hidden? %>
    <p class='mb-sm hide pwrap'><%= question.body %></p>
  <% else %>
    <p class='mb-sm pwrap'><%= question.body %></p>
  <% end %>
</div>

<% if question.answer.present? %>
  <div class='mb-sm text-dark-red'>
    <%= question.answer %>
  </div>
<% end %>

<div class='text-sm question-footer'>
  <% if question.author.nil? %>
    <div class='text-grey'>
      <p class='text-red'>@аноним</p>
      <%= l(question.created_at, format: :short) %>
    </div>
  <% else %>
    <div class='text-grey'>
      <p class='text-red'>@<%= link_to question.author.nickname, user_path(question.author) %></p>
      <%= l(question.created_at, format: :short) %>
    </div>
  <% end %>

  <div class='mt'>
    <% if current_user == question.user %>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply')%>

      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Изменить вопрос', class: 'mr-sm' %>
      <% unless question.hidden? %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :put, title: 'Скрыть вопрос'%>
      <% end %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос', form: {data: {turbo_confirm: 'Точно удалить вопрос?'}} %>
    <% end %>
  </div>
</div>


