<div class='container'>
  <h1 class='title-lg mb'>Вопрос <%= @question.id %></h1>
  <p class='mb-sm'><%= @question.body %></p>
  <p>user_id: <b><%= link_to @question.user_id %></b></p>

  <div class='mt'>
    <%= link_to fa_icon('pencil'), edit_question_path(@question), title: 'Изменить вопрос' %>
    <% if @question.hidden? %>
    <% else %>
      <%= button_to fa_icon('eye-slash'), hide_question_path(@question), method: :put, title: 'Скрыть вопрос'%>
    <% end %>
    <%= button_to fa_icon('trash-o'), question_path(@question), method: :delete, title: 'Удалить вопрос', form: {data: {turbo_confirm: 'Точно удалить вопрос?'}} %>
  </div>
  <p class='mt'><%= link_to 'Все вопросы', questions_path %></p>
</div>
